<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623547904798-3a1foupo90i3mmplfom433ghbvubt4hs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623547904798-3a1foupo90i3mmplfom433ghbvubt4hs</string>
	<key>API_KEY</key>
	<string>AIzaSyDW9zFd20z2nFxv76R5JL8Lio8MW7KCOfA</string>
	<key>GCM_SENDER_ID</key>
	<string>623547904798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oguzyildirim.AppcentNewsApp</string>
	<key>PROJECT_ID</key>
	<string>appcentnews-3b2d6</string>
	<key>STORAGE_BUCKET</key>
	<string>appcentnews-3b2d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623547904798:ios:38439b9603b4fcb2808f0f</string>
</dict>
</plist>